@media only screen and (max-width:1200px){}
@media only screen and (max-width:992px){
	.featured-review .owl-buttons>div {
		border-color:rgba(0,0,0,0.3);
		color: #525252;
		}
	.inner-slide .banner{
		margin-bottom:0;
		}
	}
@media(min-width:768px) and (max-width:991px){
	.featured-review{
		margin-left:0;
		padding:40px 0 40px 0;
		}
	.banner{
		margin-bottom:40px;
		}
	.header-right-top{
		margin-top:-95px;
		}
	.header-right{
		margin-top:0;
		}
	.main-menu .navbar-nav>li>a{
		font-size:14px;
		padding:15px 13px;
		}
	.header-top .tripadvisior{
		display:none;
		}
	.package-detail .nav-tabs li a{
		font-size:15px;
		padding:20px 12px;
		}
	.trip-fact .inner-wrap i.trip-cost{
		margin-left:0;
		}
	.about a{
		font-size:20px;
		}
	.header-right .site-search{
		display:none;
		}
	}
@media only screen and (max-width:767px){
	.header-right-top{
		display:none;
		}
	.header-right{
		display:none;
		}
	.main-menu .container-fluid{
		margin-left:0;
		margin-right:0;
		}
	.navbar-default .navbar-brand:hover{
		color:#fff;
		}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border-color:transparent;
		}
	.main-menu .navbar-nav>li>a{
		font-size:14px;
		padding:10px 15px;
		}
	.main-menu .navbar-nav{
		padding-top:15px;
		padding-bottom:15px;
		}
	.header-right-b{
		display:none;
		}
	.navbar-default .navbar-brand{
		color:#fff;
		}
	.navbar-default .navbar-toggle .icon-bar{
		background-color:#fff;
		}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{
		color:#fff;
		border-bottom:none;
		}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
		color:#fff;
		opacity:0.8;
		}
	.featured-review .review-by{
		margin-left:0;
		}
	.featured-review .review-info{
		margin-left:0;
		}
	.owl-buttons{
		text-align:left;
		}
	.copy-right .find-us{
		text-align:center;
		}
	.banner{
		margin-bottom:40px;
		}
	.trip-fact .inner-wrap i.trip-cost{
		margin-left:0;
		}
	.trip-fact .highlighted li .inner-wrap{
		padding-left:75px;
		}
	.trip-fact .inner-wrap i.grade{
		margin-left:0;
		}
	.blog-list p{
		padding-top:15px;
		}
	.copy-right:before{
		bottom:195px;
		}
	.table-responsive{
		border:none;
		}
	.footer-wrap{
		margin-top:30px;
		text-align:center;
		}
	.page-nav .container{
		display:none;
		}
	.header-top .logo{
		display: block;
		text-align: center;
		}
	.header-top .slogan{
		display: block;
		text-align: center;
		}
	}
@media only screen and (max-width:480px){
	.header-top .tripadvisior{
		display:none;
		}
	.region .package-fact span {
		margin-bottom:20px;
		}
	.team-box img{
		width:100%;
		padding-bottom:20px;
		}
	.inner-slide .flex-caption{
		font-size:20px;
		}
	}
@media(min-width:992px) and (max-width:1200px){
	.main-menu .navbar-nav>li>a{
		font-size:13px;
		padding:15px 9px;
		}
	.header-top .logo a{
		width:100px;
		height:70px;
		}
	.info{
		float:left;
		font-size:12px;
		}
	.site-search .form-control{
		width:160px;
		margin-top:0;
		}
	.package-detail .nav-tabs li a{
		font-size:15px;
		padding:20px 11px;
		}
	.trip-fact .inner-wrap i.trip-cost{
		margin-left:0;
		}
	}
@media only screen and (min-width:1200px){}
@media only screen and (min-width:992px){}
@media only screen and (min-width:768px){}
@media only screen and (min-width:480px){}